/* Styling for the clientes component nav element */
.clientes-nav {
  background: #f2f2f2;
  height: 4vh;
  min-width: 600px;
  border-radius: 10px;
  text-align: center;
  border-bottom: 2px solid blue;
}

/* Styling for clientes-nav component nav element anchor tag*/
.clientes-nav a {
  padding: 20px 20px;
  font-size: 26px;
  font-weight: bold;
/*  text-transform: uppercase; */
  text-decoration: none;
  color: darkgray;
}

/* Styling for clientes component course-nav div anchor tag */
.clientes-nav a {
  color: rgb(59, 117, 241);
}

/* Styling for the clientes component main div */
.Clientes {
  width: 100%;
  height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: lightblue;
}

/* Styling for the CRUD component main div
.Ver_clientes,
.Agregar_cliente,
.Actualizar_cliente,
.Borrar_cliente {
  width: 50%;
  height: 80%;
  padding: 100px;
  background-color: lightslategray;
}
*/