<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar pelicula</title>
</head>
<body>
    <h1>Crear un usuario</h1>
    <form method="post">
    <label for="name">Ingrese el nombre:</label>
    <input type="text" name="name" id="name"/>
    <br>
    <label for="genero">Ingrese el genero:</label>
    <input type="text" name="genero" id="genero"/>
    <br>
    <label for="duracion">Ingrese la duracion:</label>
    <input type="text" name="duracion" id="duracion"/>
    <br>
    <label for="inventario">Ingrese el inventario:</label>
    <input type="text" name="inventario" id="inventario" minlength="8" maxlength="8"/>
    <br>
    <button>Crear pelicula</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>