<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar pelicula</title>
</head>
<body>
    <h1>Agregar pelicula</h1>
    <form action="{{ url_for('pelicula.agregar_pelicula') }}" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre"/>
        <br>
        <label for="genero">Genero:</label>
        <input type="text" name="genero" id="genero"/>
        <br>
        <label for="duracion">Duracion:</label>
        <input type="number" name="duracion" id="duracion"/>
        <br>
        <label for="inventario">Inventario:</label>
        <input type="number" name="inventario" id="inventario"/>
        <br>
        <button type="submit">Crear pelicula</button>
    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}

</body>
</html>