<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelicula</title>
</head>
<body>
<div style="margin: 0 auto; width: 200px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/pelicula/ver_peliculas'">Ver todas las peliculas</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/pelicula/actualizar_pelicula'">Actualizar pelicula</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/pelicula/agregar_pelicula'">Agregar pelicula</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/pelicula/borrar_peliculas'">Borrar pelicula</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/'">Regresar</button>
        </div>
    </div>
</div>
</body>
</html>