<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pelicula</title>
</head>
<body>
    <button onclick="window.location.href='/pelicula/ver_todos'">Ver peliculas</button>
    <button onclick="window.location.href='/pelicula/ver_pelicula'">Buscar pelicula</button>
    <button onclick="window.location.href='/pelicula/agregar'">Agregar pelicula</button>
    <button onclick="window.location.href='/pelicula/borrar'">Borrar pelicula</button>
    <button onclick="window.location.href='/'">Regresar</button>

</body>
</html>