<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pelicula</title>
</head>
<body>
    <button onclick="window.location.href='/pelicula/ver_peliculas'">Ver todas las peliculas</button>
    <button onclick="window.location.href='/pelicula/actualizar_pelicula'">Actualizar pelicula</button>
    <button onclick="window.location.href='/pelicula/agregar_pelicula'">Agregar pelicula</button>
    <button onclick="window.location.href='/pelicula/borrar_pelicula'">Borrar pelicula</button>
    <button onclick="window.location.href='/'">Regresar</button>

</body>
</html>