<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar usuario</title>
</head>
<body>
    <div style="margin: 0 auto; width: 200px;">
        <h1>Agregar usuario</h1>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <form action="{{ url_for('usuario.agregar_usuario') }}" method="POST">
                <label for="nombre">Ingrese el nombre:</label>
                <input type="text" name="nombre" id="nombre" required/>
                <br>
                <label for="apPat">Ingrese el apellido paterno:</label>
                <input type="text" name="apPat" id="apPat" required/>
                <br>
                <label for="apMat">Ingrese el apellido materno:</label>
                <input type="text" name="apMat" id="apMat" required/>
                <br>
                <label for="password">Ingrese la contraseña:</label>
                <input type="password" name="password" id="password" required/>
                <br>
                <label for="email">Ingrese el email:</label>
                <input type="email" name="email" id="email" required/>
                <br>
                <div style="margin: 0 auto; width: 200px;">
                    <button type="submit">Agregar usuario</button>
                </div>
                </form>
        </div>
    </div>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>