<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>usuario</title>
</head>
<body>
    <button onclick="window.location.href='/usuario/ver_todos'">Ver todos los usuarios</button>
    <button onclick="window.location.href='/usuario/ver_usuario'">Buscar un usuario</button>
    <button onclick="window.location.href='/usuario/agregar'">Agregar usuario</button>
    <button onclick="window.location.href='/usuario/borrar'">Borrar usuario</button>
    <button onclick="window.location.href='/'">Regresar</button>

</body>
</html>