<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>usuario</title>
</head>
<body>
    <button onclick="window.location.href='/usuario/ver_usuarios'">Ver todos los usuarios</button>
    <button onclick="window.location.href='/usuario/actualizar_usuario'">Actualizar usuario</button>
    <button onclick="window.location.href='/usuario/agregar_usuario'">Agregar usuario</button>
    <button onclick="window.location.href='/usuario/borrar_usuario'">Borrar usuario</button>
    <button onclick="window.location.href='/'">Regresar</button>

</body>
</html>