.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .table-container {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
  }
  
  table th {
    background-color: #f2f2f2;
  }
  