<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>renta</title>
</head>
<body>
    <div style="margin: 0 auto; width: 200px;">
        <h1>Rentar</h1>
    </div>
<div style="margin: 0 auto; width: 200px;">
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/rentar/ver_rentas'">Ver todas las rentas</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/rentar/actualizar_renta'">Actualizar renta</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/rentar/agregar_renta'">Agregar renta</button>
        </div>
    </div>
    <div style="display: flex; justify-content: center; align-items: center; height: 10vh;">
        <div style="margin-top: 20px; margin-bottom: 20px;">
            <button onclick="window.location.href='/'">Regresar</button>
        </div>
    </div>
</div>
</body>
</html>